
html,body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "微软雅黑";
  a{
    text-decoration: none;
    color: #000;
  }
}
 /* 
@media screen and (max-width: 768px) {
  
  html{
    font-size: 4px;
  }

@media screen  and (min-width: 769px) and (max-width: 900px) {
  
  html{
    font-size: 7px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  html{
    font-size: 8px;
  }
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {

  html{
    font-size: 9px;
  }
}


@media screen and (min-width: 1281px) and (max-width: 1420px) {

  html{
    font-size: 12px;
  }
}

 @media screen and (min-width: 1421px) and (max-width: 1920px) {
  html{
    font-size: 14px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {

  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 2561px) {
 
  html{
    font-size: 20px;
  }
}*/



#app{
  /* transform-origin: 0 0; */
  width: 100vw;
  height: 100vh;
  /* margin: 0 auto; */
  /* background-color: #f00; */

  /* position: fixed;
  top: 50%;
  left: 50%; */
}

